#simulation {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  background: linear-gradient(to bottom right, rgba(238,238,238,0.533), #eee);
  border-radius: 5%;
}
#hud {
  height: 100px;
}
#hud > div {
  float: left;
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
#hud header {
  height: 45%;
  font-family: Montserrat;
  color: #1e90ff;
}
#hud header h1,
#hud header h2 {
  margin: 0;
}
#hud header h1 {
  font-size: 120%;
}
#hud header h2 {
  font-size: 80%;
}
#hud #velocityTextBox {
  width: 3em;
  border-radius: 0.5em;
}
#hud #velocitySlider {
  width: 200px;
}
#hud .num {
  font-family: 'PT Sans';
  font-size: 110%;
  color: #000080;
}
#hud .unit {
  margin-left: 5%;
  color: #4169e1;
}
