margin-x(val)
	margin-left val
	margin-right val
center-x()
	margin-x auto

#simulation
	center-x()
	width 600px
	background linear-gradient(to bottom right, #eee8, #eeef)
	border-radius 5%

#hud
	height 100px

	> div
		float left
		height 100px
		margin-x 10px
		text-align center

	header
		height 45%
		font-family Montserrat
		color dodgerblue

		h1, h2
			margin 0
		h1
			font-size 120%
		h2
			font-size 80%

	#velocityTextBox
		width 3em
		border-radius 0.5em

	#velocitySlider
		width 200px

	.num
		font-family 'PT Sans'
		font-size 110%
		color navy
	.unit
		margin-left 5%
		color royalblue
