margin-x(val)
	margin-left val
	margin-right val
center-x()
	margin-x auto

#simulation
	center-x()
	width 600px
	background linear-gradient(to bottom right, #eee8, #eeef)
	border-radius 5%

#hud
	height 100px

.hudEm
	float left
	height 100px
	margin-x 10px
	text-align center

#velocityTextBox
	width 3em
	border-radius 0.5em

#velocitySlider
	width 200px

.hudEm header
	height 45%
hudH()
	font-family Montserrat
	color dodgerblue
	margin 0
.hudEm h1
	hudH()
	font-size 120%
.hudEm h2
	hudH()
	font-size 80%

.num
	font-family 'PT Sans'
	font-size 110%
	color navy
.unit
	margin-left 5%
	font-size 100%
	color royalblue
